HTML
{
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-STYLE: normal
}
TD
{
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-STYLE: normal
}
.td2
{
    COLOR: white;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 20px;
    FONT-STYLE: normal
}
.td3
{
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 13px;
    FONT-STYLE: normal
}
BODY
{
    BACKGROUND-REPEAT: no-repeat
}
.standard
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans Serif;
    FONT-SIZE: 11px;
    HEIGHT: 20px;
    LINE-HEIGHT: 20px;
    PADDING-BOTTOM: 20px;
    TEXT-DECORATION: none
}
.lrgtextwhite
{
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Arial, Helvetica, Sans Serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.lrgtextblack
{
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Arial, Helvetica, Sans Serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.header
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold
}
A
{
    COLOR: #0000ff;
    TEXT-DECORATION: underline
}
A:link
{
    COLOR: yellow;
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: yellow;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: yellow;
    TEXT-DECORATION: underline
}
A.DSL
{
    COLOR: yellow;
    FONT-FAMILY: Arial,Helvetica, sans-serif;
    FONT-SIZE: 7pt;
    TEXT-DECORATION: none
}
A.DSL:visited
{
    COLOR: yellow;
    TEXT-DECORATION: none
}
A.DSL:hover
{
    COLOR: yellow;
    TEXT-DECORATION: none
}
A.ESL
{
    COLOR: yellow;
    FONT-FAMILY: Arial,Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A.ESL:visited
{
    COLOR: yellow;
    TEXT-DECORATION: none
}
A.ESL:hover
{
    COLOR: yellow;
    TEXT-DECORATION: none
}
A.FSL
{
    COLOR: yellow;
    FONT-FAMILY: Arial,Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    TEXT-DECORATION: none
}
A.FSL:visited
{
    COLOR: yellow;
    TEXT-DECORATION: none
}
A.FSL:hover
{
    COLOR: yellow;
    TEXT-DECORATION: none
}
A.GSL
{
    COLOR: yellow;
    FONT-FAMILY: Arial,Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    TEXT-DECORATION: none
}
A.GSL:visited
{
    COLOR: yellow;
    TEXT-DECORATION: none
}
A.GSL:hover
{
    COLOR: yellow;
    TEXT-DECORATION: none
}
.BTN
{
    BACKGROUND: #ff3300;
    BORDER-BOTTOM: #104a7b 1px solid;
    BORDER-LEFT: #afc4d5 1px solid;
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-FAMILY: Arial,Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    WIDTH: 100px
}
.BTN2
{
    BACKGROUND: #636563;
    BORDER-BOTTOM: #104a7b 1px solid;
    BORDER-LEFT: #afc4d5 1px solid;
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-FAMILY: Arial,Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    WIDTH: 100px
}
.BTN3
{
    BACKGROUND: #B596C6;
    BORDER-BOTTOM: #104a7b 1px solid;
    BORDER-LEFT: #afc4d5 1px solid;
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-FAMILY: Arial,Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    WIDTH: 100px
}
A.BSL
{
    COLOR: black;
    CURSOR: hand;
    FONT-FAMILY: Webdings;
    FONT-SIZE: 14pt;
    TEXT-DECORATION: none
}
A.BSL:hover
{
    COLOR: black;
    CURSOR: hand;
    FONT-FAMILY: Webdings;
    FONT-SIZE: 14pt;
    TEXT-DECORATION: none
}
SELECT
{
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-STYLE: normal
}
INPUT
{
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-STYLE: normal
}
TEXTAREA
{
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-STYLE: normal
}
UL 
{
    list-style-image: url("/images/common/plus.gif"); 
}

