<style>
/*^DUMP*/
FONT
{
    FONT-FAMILY:Helvetica, sans-serif, Arial
    FONT-SIZE:8px;
}
TEXTAREA
{
    FONT-FAMILY: Helvetica, sans-serif, Arial;
    FONT-SIZE: 8pt
}
INPUT
{
    FONT-FAMILY: Helvetica, sans-serif, Arial;
    FONT-SIZE: 8pt
}
SELECT
{
    FONT-FAMILY: Helvetica, sans-serif, Arial;
    FONT-SIZE: 8pt
}
/*TABLE
{
    BORDER-RIGHT:2px;
    BORDER-TOP:2px;
    FONT-SIZE:8px;
    BORDER-LEFT:2px;
    BORDER-BOTTOM:2px;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
}*/
/*|DUMP*/

/*<%BODY>*/

BODY
{
    FONT-SIZE:8px;
    MARGIN:0px 0px 0px 0px;
    COLOR:#000000;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    BACKGROUND-COLOR:#cecece;
}
/*&BODY*/

/*<$BODY>*/
/*<%TABLE ROW>*/
.TR1
{
    BACKGROUND-COLOR:#FFFFFF;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    FONT-SIZE:8pt;
}
/*&.TR1*/

.TR2
{
    BACKGROUND-COLOR:#bcd0eb;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    FONT-SIZE:8pt;
}
/*&.TR2*/

/*<$TABLE ROW>*/
/*<%TABLE COLUMN>*/
TD
{
    COLOR:#000000;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    FONT-SIZE:8pt;
}
/*&TD*/

TD.pts75
{
    COLOR:#000000;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    FONT-SIZE:7.5pt;
}
/*&TD.pts75*/

TD.pts9
{
    COLOR:#000000;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    FONT-SIZE:9pt;
}
/*&TD.pts9*/

TD.pts10
{
    COLOR:#000000;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    FONT-SIZE:10pt;
}
/*&TD.pts10*/

TD.pts12
{
    COLOR:#000000;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    FONT-SIZE:12pt;
}
/*&TD.pts12*/

/*<$TABLE COLUMN>*/
/*<%FIELDS>*/
INPUT.bg
{
    background:#E3EAE4;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    FONT-SIZE:12pt
    border:1px solid #008000;
}
/*&INPUT.bg*/

.login
{
 	background-color:#f7f7f7; solid
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    FONT-SIZE:8pt;
    border:1px solid #0080ff;
}
/*&.login*/

.Nreq
{
	border:1px solid #0080ff;
 	background-color:#f7f7f7; solid
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    FONT-SIZE:8pt;
}
/*&.Nreq*/

SELECT.bg
{
    background:#FFECCE;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
    FONT-SIZE:8pt; border:1px solid #0080ff;
}
/*&SELECT.bg*/

/*<$FIELDS>*/
/*<%BUTTONS>*/
.BTN
{
    BORDER-LEFT:#afc4d5 1px solid;
    BORDER-RIGHT:#104a7b 1px solid;
    BORDER-TOP:#afc4d5 1px solid;
    BORDER-BOTTOM:#104a7b 1px solid;
   background:#ff3300;
    color:#ffffff;
    CURSOR:hand;
    font-family:Arial,Helvetica, sans-serif;
    font-size:8pt;
    font-weight:bold;
    HEIGHT:20px;
    WIDTH:60px;
}
/*&.BTN*/

.BTN1
{
    BORDER-LEFT:#afc4d5 1px solid;
    BORDER-RIGHT:#104a7b 1px solid;
    BORDER-TOP:#afc4d5 1px solid;
    BORDER-BOTTOM:#104a7b 1px solid;
    background:#43709A;
    color:#ffffff;
    CURSOR:hand;
    font-family:Arial,Helvetica, sans-serif;
    font-size:8pt;
    font-weight:bold;
    HEIGHT:20px;
    WIDTH:100px;
}
/*&.BTN1*/

.BTN2
{
    BORDER-LEFT:#afc4d5 1px solid;
    BORDER-RIGHT:#104a7b 1px solid;
    BORDER-TOP:#afc4d5 1px solid;
    BORDER-BOTTOM:#104a7b 1px solid;
    background:#43709A;
    color:#ffffff;
    CURSOR:hand;
    font-family:Arial,Helvetica, sans-serif;
    font-size:7pt;
    font-weight:bold;
    HEIGHT:16px;
    WIDTH:50px;
}
/*&.BTN2*/

.BTN3
{
    BORDER-LEFT:#afc4d5 1px solid;
    BORDER-RIGHT:#104a7b 1px solid;
    BORDER-TOP:#afc4d5 1px solid;
    BORDER-BOTTOM:#104a7b 1px solid;
    background:#D0E6f1;
    color:#000000;
    CURSOR:hand;
    font-family:Arial,Helvetica, sans-serif;
    font-size:7pt;
    font-weight:bold;
    HEIGHT:16px;
    WIDTH:50px;
}
/*&.BTN3*/

/*<$BUTTONS>*/
/*<%LINKS>*/
A
{
    COLOR:#003163;
    FONT-FAMILY:Helvetica, sans-serif,Arial;
    FONT-SIZE:8pt;
    FONT-WEIGHT:bold;
    TEXT-DECORATION:none;
}
/*&A*/

A:hover
{
    COLOR:#339966;
    FONT-FAMILY:Helvetica, sans-serif,Arial;
}
/*&A:hover*/

A.ASL
{
    COLOR:#ffffff;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
}
/*&A.ASL*/

A.ASL:hover
{
    COLOR:#ffff99
    FONT-FAMILY:Helvetica, sans-serif, Arial;
}
/*&A.ASL:hover*/

A.BSL
{
    COLOR:#000000;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
}
/*&A.BSL*/

A.BSL:hover
{
    COLOR:#0000ff;
    FONT-FAMILY:Arial,Helvetica, sans-serif;
}
/*&A.BSL:hover*/

A.CSL
{
    COLOR:#ffffff;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
}
/*&A.CSL*/

A.CSL:hover
{
    COLOR:#0000ff;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
}
/*&A.CSL:hover*/

A.DSL
{
    COLOR:#0000a0;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
}
/*&A.DSL*/

A.DSL:hover
{
    COLOR:#ff0000;
    FONT-FAMILY:Arial,Helvetica, sans-serif;
}
/*&A.DSL:hover*/

A.ESL
{
    COLOR:#ffffff;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
}
/*&A.ESL*/

A.ESL:hover
{
    COLOR:#ff3300;
    FONT-FAMILY:Helvetica, sans-serif, Arial;
}
/*&A.ESL:hover*/

/*<$LINKS>*/
</style>