hotspot.log
*.iml
*.ipr
*.iws
.gradle/
build/
target/
classes/
/var
pom.xml.versionsBackup
test-output/
/atlassian-ide-plugin.xml
.idea
.DS_Store
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
/data
/src/main/java/com/lordjoe/ui/.svn
/src/main/java/com/lordjoe/runner/ui/.svn
/junk
/src/main/java/com/lordjoe/runner/.svn
/src/main/resources/.gitignore
